In [ ]:
x = 3
y = 7
x + y

10

# 마크다운
## 마크다운
### 마크다운


* hello world
* hello world
* hello world

1. hello world
1. hello world
1. hello world

## 변수

* 대문자와 소문자는 다릅니다. # Apple 과 apple은 다름
* 변수명에 띄어쓰기를 쓰지 않습니다.
* 맨 앞에 숫자를 사용하지 않습니다.
* 카멜 표기법이나 스네이크 표기법 중 일반 변수는 스네이크 표기법을 사용합니다. #카멜 표기법 : AppleIsGood(띄어쓰기를 대문자로 표시), 스네이크 표시법 : 일반적인 문자적는 방법
* for, of, print 등 이미 예약되어 있는 것은 변수로 사용하지 않습니다.

In [ ]:
x = 3
y = 7
x + y
x - y
x * y
x // y

0

In [ ]:
x = 3
y = 7
print(x + y)
print(x - y)
print(x * y)
print(x // y)

10
-4
21
0

In [ ]:
a = 10
b = '10'
print(a+a)
print(b+b)

20
1010

In [ ]:
a = 10 #int : 정수
b = '10' # str : 문자열
c = 'lee'
d = 'hojun'
e = True # bool : 불리언
f = 10.1 # float : 실수
print(type(a))

<class 'int'>

In [ ]:
3 > 10

False

In [ ]:
a = [10, 20, 30, 10.1, 20.1, 30.1, 'hojun'] # list
b = (10, 20, 30) # tuple
c = {10, 20, 30, 30, 30} # set
d = {'one':1, 'two':2} # dict
print(type(a))

<class 'list'>

In [ ]:
a.pop()
sum(a)

90.19999999999999

## 형변환

In [ ]:
a = 10
b = '10'
print(str(a)+b)
print(a + int(b))

1010
20

## 산술연산

In [ ]:
a = 7
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b) #소수점까지 출력
print(a // b)
print(a ** b)
print(a % b) #a를 b로 나눠서 나온 나머지 값을 출력

10
4
21
2.3333333333333335
2
343

## 비교연산

In [ ]:
a = 3
b = 5
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print(a == b)
print(a != b)

False
False
True
True
False
True

## 논리연산

In [ ]:
# 주석입니다. 주석은 실행하지 않습니다.
a = 10
b = 20
a + b

30

In [ ]:
a = True # 1
b = False # 0

print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
result = 0
for i in range(1001):
    if i % 3 == 0 or i % 5 == 0:
        result =  result + i

print(result)

234168

## 문자열

In [ ]:
s = 'paullab CEO lehojun'

('paullab CEO lehojun',)

In [ ]:
s.count(' ') #해당하는 문자의 개수를 세줌

2

In [ ]:
s.upper() #대문자

'PAULLAB CEO LEHOJUN'

In [ ]:
s.lower() #소문자

'paullab ceo lehojun'

In [ ]:
s.split(' ') #' '단위로 자름

['paullab', 'CEO', 'lehojun']

In [ ]:
'-'. join(['a', 'b', 'c']) # 안의 각 문자들을 붙힘 -> 가독성을 위해 전화번호같은 경우에는 대쉬(-)를 넣어줌.

'a-b-c'

In [ ]:
d = s.split(' ') 
'-'.join(d)

'paullab-CEO-lehojun'

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
s = '              hello world'
print(s)
print(s.strip()) # strip : 공백을 없앰
print(s.replace(' ','')) # 앞의 것을 뒤에 걸로 바꾸겠다. -> 모든공백을 없앰

              hello world
hello world
helloworld

## 리스트

* 순서가 있고, 수정이 가능합니다.

In [ ]:
a = [10, 20, 30, 40, 50, 60, 70, 15]
a
a[0] # 0번은 인덱스이고, a[0] 추출하는 것을 Indexing이라고 합니다.
a[0], a[1], a[2], a[3]
a[0:3] # 슬리이싱, 자료형[start:stop:step] stop, step은 생략가능
a[::2]  # 이건 자주 안씀
a[::-1] # 거꾸로 출력, 이건 정말 많이 씀
a[0] = 1000 # a의 0번째를 1000으로 바꿈
a

[1000, 20, 30, 40, 50, 60, 70, 15]

In [ ]:
dir(a)

a.append(10) # 값을 맨 뒤에 추가합니다 잘씀
a.clear # a에 모든 값을 비웁니다. 
a.copy # a에 모든 값을 복사합니다.
a.count # a에서 특정한 값의 개수를 찾습니다. 잘씀
a.extend([10, 20, 30]) # a에 맨 뒤에 여러개의 값을 추가합니다.
a.index # a에서 특정한 값의 인덱스를 찾습니다.
a.insert(2, 10000) # a에 중간에 값을 삽입합니다.
a.pop # a에 맨 뒤에 값을 빼냅니다. 빼낸 값은 삭제됩니다. 잘씀
a.remove # a에 특정한 값을 삭제합니다.
a.reverse(10000) #a에 특정한 값을 뒤집습니다. 잘씀
a.sort # a의 값을 정렬합니다. 잘씀

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a.append(100)
a.append(100) # 뒤에 100을 추가함
a

[1000, 20, 30, 40, 50, 60, 70, 15, 100, 100, 100, 100, 100]

In [ ]:
a.count(100)

5

In [ ]:
a.sort()
a

[15, 20, 30, 40, 50, 60, 70, 100, 100, 100, 100, 100, 1000]

In [ ]:
a.reverse()
a

[1000, 100, 100, 100, 100, 100, 70, 60, 50, 40, 30, 20, 15]

## 튜플, 딕셔너리, 셋

In [ ]:
# 튜플은 순서가 있고 값을 변경할 수 없습니다.
# 튜플 -> 정보를 보기만 할수 있음. 정보 fix

t = (10, 20, 30)
t

(10, 20, 30)

In [ ]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# 딕셔너리

영한번역 = {'one' : '하나', 'two' : '둘'}  # column : data
영한번역['one']

'하나'

In [ ]:
# 셋 (집합, 합집합, 차집합, 교집함)

s = {10, 20, 30, 30, 30}
s

{10, 20, 30}

In [ ]:
s = {10, 20, 30, 30, 30}
ss = {10,40, 50}
s | ss # 합집합
s & ss # 교집합
s - ss # 차집합

{20, 30}

f-string

In [ ]:
age = 10
name = 'leehojun'
print('제 이름은 ', name, '입니다.','제 나이는 ',age,'입니다.')
print('제 이름은 {0}입니다. 제 나이는 {1}살 입니다.' .format(name, age)) #{0} = name {1} = age 
# fomat : string의 method 중 하나. -> 앞에 점(.) 붙임
print(f'제 이름은 {name} 입니다. 제 나이는 {age+age} 살 입니다.') # 이걸로 쓰기로 (최신문법)

제 이름은  leehojun 입니다. 제 나이는  10 입니다.
제 이름은 leehojun입니다. 제 나이는 10살 입니다.
제 이름은 leehojun 입니다. 제 나이는 20 살 입니다.

##built in function

* abs() : 절댓값
* min() : 최솟값
* max() : 최댓값
* dir() : 매서드 확인
* id() : 메모리 주소 확인
* sorted() : 정렬
* reversed() : 역순(역정렬 아님)
* enumerated() : 순서를 매김 (for문하면서 설명)

* 형변환 :
  * set() : 집합으로 형변환
  * dict() : 딕셔너리로 형변환
  * bool() : 불리언으로 형변환(True, False)
  * int() : 정수형으로 형변환
  * str() : 문자열로 형변환
  * list() : 리스트로 형변환
* ord() : 문자를 숫자로 변환
* chr() : 숫자를 문자로 변환
* sum() : 전부 더함(더할 수 없으면 애러)
* filter() : 필터링(예 - 수학점수 90점 이상인 사람)
* print() : 출력
* format() : 콤마찍기
* len() : 길이 출력!! 중요!!
* type() : 타입 알아보기 중요!!
* range() : 연속된 값 생성(0 - 99 -> range(100))
* zip('abc', 'def')
* map(lambda x:x**2,[1,2,3])
* round() : 소수점 자리 반올림

In [ ]:
list(zip('abc','def'))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [ ]:
list(map(lambda x:x**2,[1,2,3]))

[1, 4, 9]

## 조건문

In [ ]:
if True:
    print('hello')
print('end')

hello
end

In [ ]:
score = 89
money = 0

if score > 90:
    print('mom : i\'m so happy')  # i'm 으로 입력하면 그대로 안써지니까 앞에 \를 붙임
    money += 1000000 # money = money + 1000000. 할당연산이라고 부릅니다.
elif score > 80:
    print('mom : im happy')
    money += 100000
elif score > 70:   # elif = else if
    print('mom: happy?')
    money += 10000
else:
    print('mom: ...')
    
print(money)

mom : im happy
100000

## 문제 풀이와 업다운 게임 제작

In [ ]:
str(list(range(100))) # 전부 문자로 변환
str(list(range(100))). count('8')
str(list(range(10001))). count('8')

4000

In [ ]:
리스트 = [1,3, 4, 8, 13, 17, 20]
리스트둘 = 리스트[1:]

In [ ]:
list(zip(리스트, 리스트둘))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
묶어준리스트 = list(zip(리스트, 리스트둘))
묶어준리스트.sort(key=lambda x:x[0]-x[1], reverse=True) # x[0] : 원소의 0번째, x[1] : 원소의 1번째
묶어준리스트
묶어준리스트[0]

(3, 4)

In [ ]:
import random

정답 =  random. randint(1, 100)

while True:
    user = int(input('숫자를 입력해주세요.'))
    if user < 정답:
      print('Up')
    elif user > 정답:
      print('Down')
    else:
      print('정답!')
      break

숫자를 입력해주세요.55
Down
숫자를 입력해주세요.44
Down
숫자를 입력해주세요.22
Down
숫자를 입력해주세요.11
Down
숫자를 입력해주세요.5
Up
숫자를 입력해주세요.6
정답!

## 반복문

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
list(range(10)) # stop
list(range(0,10, 2)) # start, stop, step
list(range(5, 10)) # start, stop
list(range(10, 5, -1)) # start, stop, step

[10, 9, 8, 7, 6]

In [ ]:
s = 0
for i in range(101):
    s = s + 1

print(s)

101

In [ ]:
s = 0
for i in range(0, 101, 2): 
    s = s + i

print(s)

2550

In [ ]:
sum(range(0, 101, 2))

2550

In [ ]:
s = 0 
for i in range(101):
    if i  % 2 ==0:
        s = s + i

print(s)

2550

In [ ]:
for i in range(1, 10):
    print(f'{2} X {i} = {2 * i}')
for i in range(1, 10):
    print(f'{3} X {i} = {3 * i}')
for i in range(1, 10):
    print(f'{4} X {i} = {4 * i}')
for i in range(1, 10):
    print(f'{5} X {i} = {5 * i}')
for i in range(1, 10):
    print(f'{6} X {i} = {6 * i}')
for i in range(1, 10):
    print(f'{7} X {i} = {7 * i}')
for i in range(1, 10):
    print(f'{8} X {i} = {8 * i}')
for i in range(1, 10):
    print(f'{9} X {i} = {9 * i}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
for 단 in range(2, 10):
    for i in range(1, 10):
        print(f'{단} X {i} = {단 * i}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = 1
while x <10:
    print(f'{2} X {x} = {2 * x}')
    x += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

## 모듈

In [ ]:
# filename = test.py
# name = leehojun
# age = 10

In [ ]:
# import test
import test as t

print(t.name)
print(t.age)

leehojun
10

In [ ]:
from test import name, age

print(name)
print(age)

leehojun
10

## 파일 입출력

In [ ]:
f = open('구구단.txt', 'w') # r(읽음), w(작성, 덮어씀), a(추가)
data = ''
for 단 in range(2, 10):
    for i in range(1, 10):
         data += f'{단} X {i} = {단 * i}\n'
f.write(data)
f.close()

## 함수

1. 재사용성을 높일 수 있다.
2. 코드의 구조를 파악하기 쉽다.
3. 유지보수를 쉽게 할 수 있다.

In [10]:
def 더하기(x, y):
    return x + y

더하기(10, 20)

30

In [12]:
def 원의넓이(r):
      return(r**2) * 3.14
      
print(원의넓이(10) + 100)
print(원의넓이(10) + 50)

414.0
364.0

In [14]:
점수 = [10, 20, 30, 40]
def 평균(반점수):
    s = 0
    for i in 반점수:
        s += i
    return s / len(반점수)
  
print(평균(점수))
print(평균(점수) + 5) # 함수 재사용

25.0
30.0

## 클래스

* 현실세계의 개념을 Code로 옯겨 놓은 것
* 클래스의 첫 문자열은 대문자로 합니다.(관습)

In [1]:
class Car : # Car라는 class 생성
    # 클래스 변수(클래스에서 사용하는 변수) 또는 맴버
    maxspeed = 300
    maxpeople = 5
    #메서드
    def start(self):
        print('출발하였습니다.')

    def stop(self):
        print('멈췄습니다.')

In [5]:
audi = Car() # audi라는 인스턴스 생성
bmw = Car() # bmw라는 인스턴스 생성

audi.start()
print(audi.maxpeople)
print(Car.maxspeed) # 이렇게 사용하면 안됩니다.

출발하였습니다.
5
300

In [7]:
dir(audi)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'maxpeople',
 'maxspeed',
 'start',
 'stop']

In [15]:
class 전기차(Car): # Car의 속성을 상속받음
    배터리 = 100
    배터리에_따라_갈_수_있는_거리 = 300

전기차audi = 전기차()
전기차audi.start()

출발하였습니다.

# "데이터 분석 python 기초 문법 노트북"
> "20201년 여름방학 데이터분석을 위한 python 기초문법"

- toc:true
- branch: master
- badges: true
- comments: true
- author: jangeunhye
- categories: [Python, 데이터분석]